<div class="container">
  <h1><%= @restaurant.name %></h1>

  <p>Category: <%= @restaurant.category %></p>
  <p>Address: <%= @restaurant.address %></p>
  <p>Phone: <%= @restaurant.phone_number %></p>

  <hr>
  <ul class="list-group my-5">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item"><%= review.content %></li>
    <% end %>
  </ul>

  <%= link_to 'Back to list', restaurants_path, class: 'btn btn-primary' %>
</div>
